<app-divider>Table Component</app-divider>
<app-table [data]="data" [header]="header" [className]="'celled'"></app-table>
<app-divider>Tab Component</app-divider>
<app-tabs>

    <a routerLink="./" [routerLinkActiveOptions]="{exact : true}" routerLinkActive="active" class="item" >
        Bio
      </a>
      <a routerLink="./partners" routerLinkActive="active" class="item">
        Partners
      </a>
      <a routerLink="companies" routerLinkActive="active" class="item">
        Companies
      </a>
     

</app-tabs>